<div class="d-flex justify-content-between mt-4">
  <h2 class="mb-0">Manage Cargo</h2>  

</div>
<div class="row mt-3">
  <div class="card">
      <div class="card-header">
      Add New Cargo
        </div>
      <div class="card-body">
          <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
              <div class="row">
                  <div class="col-md-3">
                      <div class="mb-3">
                          <label for="content" class="form-label ">Content</label>
                          <input type="text" name ="content"formControlName="content" (ngModel)="formModel.content" class="form-control" id="content" placeholder="Content">
                          <div *ngIf="itemForm.controls['content'].invalid && (itemForm.controls['content'].dirty || itemForm.controls['content'].touched)"
                          class="ng-dirty">
                          <span *ngIf="itemForm.controls['content'].errors">
                            <span class="text-danger">Please Enter content .</span>
                          </span>
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="mb-3">
                          <label for="size" class="form-label ">Size</label>
                          <input type="text" name="size"  formControlName="size" (ngModel)="formModel.size" class="form-control" id="size" placeholder="Size">
                          <div *ngIf="itemForm.controls['size'].invalid && (itemForm.controls['size'].dirty || itemForm.controls['size'].touched)"
                          class="ng-dirty">
                          <span *ngIf="itemForm.controls['size'].errors">
                            <span class="text-danger">Please Enter size .</span>
                          </span>
                        </div>
                        </div>
                  </div>
                  
                  <div class="col-md-3">
                      <div class="mb-3">
                          <label for="status" class="form-label ">Status</label>
                          <!-- <textarea name="status" id="status" formControlName="status" value="Order Pending" [(ngModel)]="formModel.status" class="form-control" cols="5" rows="1">Order Pending</textarea> -->
                          <!-- <input type="text" value="Order Pending" name="status"  formControlName="status" [(ngModel)]="formModel.status" class="form-control" id="status" placeholder="status"> -->
                          <select (ngModel)="formModel.status" formControlName="status"  class="form-control" name="status" id="status">
                            <option value="null">Choose Status</option>
                             <option value="Order Pending">PENDING</option>
                             <!-- <option value="Order Assigned">ASSIGNED</option> -->
                             <!-- <option value="Order Delivered">DELIVERED</option> -->
                          </select>
                          <div *ngIf="itemForm.controls['status'].invalid && (itemForm.controls['status'].dirty || itemForm.controls['status'].touched)"
                          class="ng-dirty">
                          <span *ngIf="itemForm.controls['status'].errors">
                            <span class="text-danger">Please Enter Status .</span>
                          </span>
                        </div>
                        </div>
                  </div>
                  <div class="col-md-3" class="d-grid">
                          <br>
                          <button class="btn btn-outline-dark mt-1" type="submit">Submit</button>
                  </div>
                </div>
             
            </form>
      </div>
  </div>
</div>


<div class="row mt-3">
  <div class="card">
      <div class="card-header">Cargo Information</div>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th>Sr#</th>
                      <th>Content</th>
                      <th>Size</th>
                      <th>Status</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let cargo of cargList">
                      <td>{{cargo.id}}</td>
                      <td>{{cargo.content}}</td>
                      <td>{{cargo.size}}</td>
                      <td>{{cargo.status}}</td>
                      <td> 
                        <div *ngIf="cargo.status == 'Order Pending'">
                          <button *ngIf="cargo.status == 'Order Pending'" data-bs-toggle="modal" (click)="addDriver(cargo)" data-bs-target="#driverModal" class="btn btn-primary" [disabled]=false>Assign</button>
                        </div>
                        <div *ngIf="cargo.status == 'Order Assigned'">
                          <button *ngIf="cargo.status == 'Order Assigned'" data-bs-toggle="modal" (click)="addDriver(cargo)" data-bs-target="#driverModal" class="btn btn-primary" [disabled]=true>Assign</button>
                        </div>   
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  
</div>


<div class="modal fade" id="driverModal" tabindex="-1" aria-labelledby="driverModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="driverModalLabel">Assign Driver </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <select [(ngModel)]="driverId"  class="form-control" name="" id="">
            <option value="null">Choose Driver</option>
             <option *ngFor="let driver of driverList" value={{driver.id}}>{{driver.name}}</option>
            
          </select>
        
          <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">
              {{responseMessage}}
          </div>
          <div *ngIf="showError" class="alert alert-danger" role="alert">
              {{errorMessage}}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="assignDriver()">Save</button>
      </div>
    </div>
    
  </div>
</div>