<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card bg-white">
        <div class="card-body p-3">
          <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onRegister()">
            <h2 class="fw-bold mb-2 text-uppercase ">LogiTrax Ltd.</h2>
            <p class=" mb-5">Please enter your details here</p>
            <div class="mb-3 form-group required">
              <label for="username" class="form-label control-label">Username</label>
              <!-- //create input with  formControlName="username" -->
              <input type="text" name="username" formControlName="username" class="form-control" id="username"
                placeholder="Username">
              <div *ngIf="itemForm.get('username')?.hasError('required') && itemForm.get('username')?.touched"
                class="error">
                <span class="text-danger">Please Enter Username</span>
              </div>
              <div *ngIf="itemForm.get('username')?.hasError('pattern') && itemForm.get('username')?.touched"
                class="error">
                <span class="text-danger">Username should not be less than 5 characters</span>
              </div>

            </div>

            <div class="mb-3 form-group required">
              <label for="email" class="form-label control-label ">Email address</label>
              <!-- //create input with  formControlName="email" -->
              <input type="email" name="email" formControlName="email" class="form-control" id="email"
                placeholder="name@example.com">
              <div *ngIf="itemForm.get('email')?.hasError('required') && itemForm.get('email')?.touched" class="error">
                <span class="text-danger">Please Enter Email</span>
              </div>
              <div *ngIf="itemForm.get('email')?.hasError('email') && itemForm.get('email')?.touched" class="error">
                <span class="text-danger">Enter valid email</span>
              </div>


            </div>

            <div class="mb-3 form-group required">
              <label for="password" class="form-label control-label">Password</label>
              <!-- //create input with  formControlName="password" -->
              <input [type]="passwordFieldType" name="password" formControlName="password" class="form-control"
                id="password" placeholder="*******">
              <div *ngIf="itemForm.get('password')?.hasError('required') && itemForm.get('password')?.touched"
                class="error">
                <span class="text-danger">Please Enter Password.</span>
              </div>
              <div *ngIf="itemForm.get('password')?.hasError('pattern') && itemForm.get('password')?.touched"
                class="error">
                <span class="text-danger">Enter strong password! [Should contain atleast one uppercase, lowercase,
                  special characters and alphanumerics]</span>
              </div>

            </div>
            <div class="mb-3 form-group required">
              <label for="retypepassword" class="form-label control-label">Confirm Password</label>
              <!-- //create input with  formControlName="password" -->
              <input [type]="passwordFieldType" name="retypepassword" formControlName="retypepassword"
                class="form-control" id="retypepassword" placeholder="*******">
              <div
                *ngIf="itemForm.get('retypepassword')?.hasError('required') &&itemForm.get('retypepassword')?.touched"
                class="error">
                <span class="text-danger">Please Enter Password.</span>
              </div>
              <div *ngIf="itemForm.errors?.['notMatch']" class="text-danger">
                <span>Password doesn't match.</span>
              </div>
              <div *ngIf="!itemForm.errors?.['notMatch'] && itemForm.controls['retypepassword'].value !== ''"
                class="text-success">
                <span>Password Matched</span>
              </div>
              <div class="form-check form-switch mt-3 ">
                <input class="form-check-input" type="checkbox" (change)="togglePasswordVisibility()" role="switch"
                  id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Show Password</label>
              </div>
            </div>

            <div class="mb-3 form-group required">

              <label for="Role" class="form- control-label ">Role</label>
              <select class="form-control" formControlName="role" placeholder="*******">
                <option value="null">Choose User Type</option>
                <option value="BUSINESS">Business</option>
                <option value="DRIVER">Driver</option>
                <option value="CUSTOMER">Customer</option>
              </select>


              <div
                *ngIf="itemForm.get('role')?.invalid && (itemForm.get('role')?.dirty || itemForm.get('role')?.touched)"
                class="ng-dirty">
                <span class="text-danger">Role field cannot be empty.</span>
              </div>
            </div>

            <div class="d-grid">
              <button class="btn btn-outline-dark" type="submit">Submit</button>
            </div>
          </form>
          <div>
            <p class="mb-0  text-center"> <a [routerLink]="['/login']" class="text-primary fw-bold">Go to
                Login</a></p>
          </div>
          <div *ngIf="showMessage" class="alert alert-success mt-4" role="alert">
            {{responseMessage}}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-4" role="alert"><span></span>
            {{responseMessage}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>