<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="border border-3 "class="bd"></div>
        <div class="card bg-white">
          <div class="card-body p-5">
            <form class="item-Form" [formGroup]="itemForm" (ngSubmit)="onLogin()">
              <h2 class="fw-bold mb-2 text-uppercase text-center">Logistic Management System</h2>
              <p class=" mb-5 text-center">Please enter your user and password!</p>
              <div class="mb-3">
                <label for="username" class="form-label ">Username: </label>
                
                <!-- //create input with formControlName username -->
                <input type="text" formControlName="username">
                <p class="error" *ngIf="
                    itemForm.controls['username']['touched'] &&
                    itemForm.controls['username'].errors &&
                    itemForm.controls['username'].errors['required']
                  ">
                  Username is required
                </p>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label ">Password: </label>
                <!-- //create input with formControlName password -->
                
                <input type="password" formControlName="password">

                <p class="error" *ngIf="
                        itemForm.controls['password']['touched'] &&
                        itemForm.controls['password'].errors &&
                        itemForm.controls['password'].errors['required']
                      ">
                  Password is required
                </p>

              </div>

              <div class="d-grid">
                <button type="submit" id="loginbtn" class="btn btn-outline-dark btn-rounded" mdbRipple rippleColor="dark" >Login</button>
                <!-- <button class="btn btn-outline-dark" type="submit">Login</button> -->
              </div>
            </form>
            <div>
              <p class="mb-0  text-center">Don't have an account? <a (click)="registration()"
                  class="text-primary fw-bold">Registration</a></p>
            </div>
            <div *ngIf="showError" class="alert alert-danger mt-4" role="alert">
              {{errorMessage}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>