<div class="customer" *ngIf="roleName === 'BUSINESS'">
    <div class="container">
        <div class="welcome">
            <h1>Welcome to LogiTrax Ltd.</h1>
            <p>Welcome, <span class="username">{{ username }}</span></p>
            <h2>User: Business Account</h2>
        </div>
        <div class="features">
            <h3>Features:</h3>
            <ul>
                <li>Add and assign Cargo: Allocate cargo to specific routes or destinations efficiently.</li>
            </ul>
        </div>
        <div class="get-started">
            <p>Get Started: Dive into efficient cargo management and streamline your logistics operations now!</p>
        </div>
    </div>
</div>
<div *ngIf="roleName === 'DRIVER'">
    <div class="container">
        <div class="welcome">
            <h1>Welcome to LogiTrax Ltd.</h1>
            <p>Welcome, <span class="username">{{ username }}</span></p>
            <h2>User: Driver Account</h2>
        </div>
        <div class="features">
            <h3>Features:</h3>
            <ul>
                <li>Update Cargo Status: Update Cargo Status to Order In-Transit / Order Delivered</li>
            </ul>
        </div>
        <div class="get-started">
            <p>Get Started: Dive into efficient cargo management and streamline your logistics operations now!</p>
        </div>
    </div>
</div>
<div *ngIf="roleName === 'CUSTOMER'">
    <div class="container">
        <div class="welcome">
            <h1>Welcome to LogiTrax Ltd.</h1>
            <p>Welcome, <span class="username">{{ username }}</span></p>
            <h2>User: Customer Account</h2>
        </div>
        <div class="features">
            <h3>Features:</h3>
            <ul>
                <li>View Cargo Status: View Cargo Status by entering A.W.B. No.</li>
            </ul>
        </div>
        <div class="get-started">
            <p>Get Started: Dive into efficient cargo management and streamline your logistics operations now!</p>
        </div>
    </div>
</div>