.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    background-color: #212121;
    width: 40px;
    height: 40px;
    font-size: 17px;
    text-transform: uppercase;
    border: 2px solid #212121;
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
        2px 2px 2px rgba(0, 0, 0, 0.1),
        -3px -3px 2px rgba(255, 255, 255, 0.05),
        -2px -2px 1px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
}

.button .span {
    position: relative;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button::before {
    content: "";
    position: absolute;
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    left: 0%;
    bottom: 0%;
    transform: translate(-100%, 100%);
    border-radius: 10px;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
    transform: translate(0, 0);
    transition-delay: 0.4s;
}

.button:hover .span {
    scale: 1.2;
}

.button:hover {
    box-shadow: none;
}

.button:active {
    scale: 0.95;
}

.card1 {
    background-color: black;
    width: 350px;
    height: 200px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 2px 2px 19px;
    font-weight: bold;
    color: white;
}

.card1::before {
    content: "";
    position: absolute;
    z-index: -19;
    width: 365px;
    height: 210px;
    margin: auto;
    background: rgb(4, 0, 255);
    background: linear-gradient(135deg, rgba(4, 0, 255, 1) 0%, rgba(136, 0, 255, 1) 35%, rgba(209, 0, 255, 1) 100%);
    border-radius: 6px;
}

.card1::after {
    content: "";
    position: absolute;
    z-index: -19;
    width: 366px;
    height: 220px;
    margin: auto;
    background: rgb(4, 0, 255);
    background: linear-gradient(135deg, rgba(4, 0, 255, 1) 0%, rgba(136, 0, 255, 1) 35%, rgba(209, 0, 255, 1) 100%);
    border-radius: 6px;
    filter: blur(20px);
    transition: 2s;
}

.card1:hover::after {
    animation: cardafter 2.5s infinite forwards;
}

@keyframes cardafter {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
ul {
    list-style-type: none;
  }
  .blue {
    color: #0D6EFD;
  }
  
  .yellow {
    color: yellow;
  }
  
  .green {
    color: green;
  }
  
  